/* tag, id, class */
.paraStyle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: cadetblue;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

img {
    box-shadow: 10px 10px 20px grey;
}